.card {
    &-services {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2.875rem 1.125rem;
        height: 100%;
        border-radius: .3125rem;
        overflow: hidden;

        @include media-breakpoint-up(md) {
            padding: 3.875rem 1.125rem;
        }

        .row {
            margin: 0 -0.6875rem;
        }

        [class*="col-"] {
            padding: 0 0.6875rem;
        }

        &__media {
            img {
                border-radius: 5px;
            }
        }

        &-block {
            &>.row {
                margin: 0 -0.5rem;

                &>[class*="col-"] {
                    padding: 0 0.5rem;
                    margin-bottom: 1.5625rem;
                }
            }
        }

        &__info {
            color: $white;
            line-height: 1.5;
            @include font-size(.875rem);

            @include media-breakpoint-down(md) {
                text-align: center;
            }

            .btn-wrap a {
                color: $white;
                text-transform: capitalize;
                overflow: hidden;
                transition: all .3s;
                font-weight: 700;

                i {
                    margin-left: .5rem;
                    vertical-align: middle;
                }
            }
        }

        &--alt {
            text-align: center;

            @include media-breakpoint-up(md) {
                padding: 3.875rem 0 1.625rem;
            }

            .row {
                padding: 0 0.9375rem;
            }

            .card-services {

                &__media,
                &__info {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }

    &-video {
        box-shadow: 0px 25px 30px #AAAAAA29;
        position: relative;
        height: 100%;
        transition: all 0.3s;

        &:hover {
            transform: translateY(-8px);
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }


        &__content {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 25px;
            width: 100%;

            h3 {
                @include font-size(1.125rem);
                color: $white;
                font-weight: 500;

                @include media-breakpoint-up(lg) {
                    @include font-size(1.25rem);
                }
            }

            // a{
            //     color: $white;
            //     text-align: left;

            //     &:hover{
            //         text-decoration: none;
            //     }
            // }

        }

        &__thumbnail {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    &-icon {
        border: 0.5px solid $gray-200;
        margin-top: 3.5rem;
        padding: 1.5rem;
        transition: all 0.3s;

        @include media-breakpoint-up(lg) {
            padding: 2rem;
            margin-top: 4.5rem;

        }

        &:hover {
            box-shadow: rgba($dark-blue, 0.2) 0px 18px 50px -10px;
        }

        i {
            background-color: $white;
            color: $strong-cyan;
            @include font-size(1.5rem);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            margin: 0 auto;
            margin-top: -3.5rem;

            @include media-breakpoint-up(lg) {
                width: 75px;
                height: 75px;
                margin-top: -4.5rem;

            }
        }

        &__content {
            margin-top: 1rem;

            h3 {
                color: $black;
                font-weight: 500;
                @include font-size(1.25rem);
                text-transform: capitalize;

                @include media-breakpoint-up(lg) {
                    @include font-size(1.5rem);
                    margin-bottom: 1rem;
                }
            }

            a {
                @include font-size(1rem);
                color: $dark-gray-2;
                transition: all 0.3s;

                @include media-breakpoint-up(lg) {
                    @include font-size(1.125rem);
                }

                &:hover {
                    text-decoration: none;
                    color: $dark-blue;
                }
            }
        }
    }

    &-article {
        border: 0.5px solid $gray-200;
        height: 100%;
        transition: all 0.3s;

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
            transform: translateY(-8px);
        }

        &__media {
            display: inline-block;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &__info {
            padding: 1rem;

            .more-content {
                display: flex;
                justify-content: space-between;
                align-items: center;

                a {
                    @include font-size(0.875rem);
                    font-weight: 700;

                    &:hover {
                        text-decoration: none;
                    }
                }

                small {
                    color: $dark-blue;
                    @include font-size(1rem);
                }
            }

        }

        &__content {
            @include font-size(1rem);
            color: $dark-gray-1;

            @include media-breakpoint-up(lg) {
                padding-right: 2rem;
                line-height: 32px;
                @include font-size(1.125rem);
            }


            h3 {
                @include font-size(1.25rem);
                text-transform: capitalize;
                font-weight: 500;
                line-height: 30px;

                @include media-breakpoint-up(lg) {
                    @include font-size(1.5rem);
                    line-height: 40px;
                }
            }


        }
    }
}

//post-widget
.post-widget {
    display: flex;
    align-items: center;

    &__media {
        display: inline-block;

        img {
            width: 100%;
        }
    }

    &__content {
        max-width: 169px;

        h4 {
            @include font-size(1rem);
            font-weight: 500;
            margin-bottom: 0;

            @include media-breakpoint-up(lg) {
                @include font-size(1.25rem);
            }
        }

        a {
            @include font-size(0.875rem);
            font-weight: 700;
            color: $dark-blue;
            transition: all 0.3s;

            &:hover {
                color: $strong-cyan;
                text-decoration: none;
            }
        }
    }
}