.info-title {

    &__desc {
        h2 {
            color: $dark-blue-7;
            text-transform: capitalize;
            font-weight: 600;

            br {
                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }
        }
    }

    &__media {
        img {
            border-radius: 50%;
        }
    }
}