.card {
    &-product {
        border: 1px solid $gray-200;
        border-radius: 5px;
        padding: 36px 0;
        transition: all 1s;
        height: 100%;

        &:hover {
            transition: all .5s;
            transform: translateY(-16px);
            // box-shadow: 0 19px 30px rgb(0 44 93 / 21%);
            box-shadow: 0 1.375rem 1.25rem rgba($dark-blue, 0.21);

            .card-product__body {
                .h5 {
                    color: $dark-blue;
                }
            }
        }

        &__body {
            text-transform: uppercase;
            color: $dark-gray-2;
            font-weight: 300;
            padding: 0 46px;
            
            .h5 {
                color: $black;
                font-weight: 600;
                text-transform: none;
            }

            small {
                vertical-align: top;
                font-weight: 600;
            }
        }

        p:last-of-type {
            margin-bottom: 0;
        }

        &--alt {
            box-shadow: 0 8px 48px rgba($black, 0.06);
            background-color: $white;

            border: 0;
            border-radius: 0;
            padding: 0;

            &:hover {
                transform: none;
                box-shadow: 0 8px 48px rgba($black, 0.06);
            }

            picture, figure {
                margin-bottom: -11px;
                background-color: rgba($strong-cyan, 0.08);
            }

            .card-product__body {
                background-color: $white;
                padding-top: 11px;
                padding: 22px 1rem 19px;

                h3 {
                    @include font-size(1.125rem);
                    color: $primary;
                }
    
                .price {
                    @include font-size(1.8125rem);
                    color: $primary;
                    font-weight: 500;
                }
            }
        }
    }
}

.product {
    &-slider {
        padding: 0 32px;

        @include media-breakpoint-up(lg) {
            padding: 0 48px;
        }
        .slick {
            &-list {
                margin: 0 -8px;
            }

            &-track {
                @include media-breakpoint-up(md) {
                    display: flex;
                    padding: 1rem 0;
                }
            }

            &-slide {
                @include media-breakpoint-up(md) {
                    height: inherit;
                }
            }
        }
    }
    &-item {
        padding: 0 8px;

        img {
            margin: 0 auto;
        }
    }
}

