.list {
    padding: 0;
    margin: 0;
    list-style: none;

    &-check {
        ul {
            padding-left: 0;
            margin-bottom: 0;
            display: inline-block;

            li {
                list-style-type: none;
                color: $dark-gray-1;
                position: relative;
                padding: 0.8rem;
                padding-left: 4.5rem;
                @include font-size(0.9375rem);
                line-height: 25px;
                border: 1px solid $gray-200;
                border-radius: 8px;
                transition: all 0.3s;
                margin-bottom: 1rem;

                @include media-breakpoint-up(lg) {
                    padding: 1.5625rem;
                    padding-left: 5rem;
                    margin-bottom: 1.2rem;

                }

                &:hover {
                    background-color: $dark-blue;
                    color: $white;

                    &:before {
                        background-color: $white;
                        color: $dark-blue;
                    }
                }

                &:before {
                    position: absolute;
                    content: '\e907';
                    font-family: 'icomoon';
                    top: 50%;
                    transform: translateY(-50%);
                    left: 12.8px;
                    line-height: 1;
                    width: 46px;
                    height: 46px;
                    border-radius: 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $dark-blue;
                    color: $white;
                    @include font-size(1.8rem);
                    transition: all 0.3s;

                    @include media-breakpoint-up(lg) {
                        left: 20px;
                    }

                }
            }
        }
    }
}