//banner
.banner {
    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 450px;
  
        @include media-breakpoint-up(lg) {
            min-height: 500px;
        }

        @include media-breakpoint-up(xl) {
            min-height: 592px;
        }
    }

    &-info {
        max-width: 843px;
        padding: 1rem;

        h1 {
            color: $white;
            font-weight: 600;
            @include font-size(2rem);

            @include media-breakpoint-up(md) {
                @include font-size(2.5rem);
            }

            @include media-breakpoint-up(lg) {
                @include font-size(3.5rem);
            }

            @include media-breakpoint-up(xl) {
                @include font-size(4rem);
            }

            @include media-breakpoint-up(xxl) {
                @include font-size(4.5rem);
            }
        }

        .btn-play {
            display: inline-block;

            a {
                @include font-size(0.9rem);
                color: $strong-cyan;
                padding: 0.3rem;
                width: 50px;
                height: 50px;
                line-height: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $strong-cyan;
                border-radius: 50%;
                transition: all 0.3s;              
                &:hover {
                    background-color: $strong-cyan;
                    color: $white;
                    text-decoration: none;
                }
            }
        }



    }

    &-inner {
        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 250px;

            @include media-breakpoint-up(md) {
                min-height: 300px;
            }

            @include media-breakpoint-up(lg) {
                min-height: 350px;
            }

        }

        .breadcrumb {
            background-color: transparent;
            padding: 0;
            justify-content: center;

            &-item {
                &::before {
                    color: $white;
                }

                a {
                    color: $white;
                    @include font-size(0.875rem);
                    font-weight: 400;
                    text-transform: capitalize;

                    &:focus,
                    &:hover {
                        text-decoration: none;
                        // color: $red;
                    }
                }

                &.active {

                    a {
                        color: $strong-cyan;
                    }
                }
            }
        }
    }
}

.overlay-bg {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($dark-blue, 0.75);
        z-index: -1;
    }
}