//banner-title
.banner-title {
    background-color: $black;
    max-width: 843px;

    h1 {
        color: $white;
        font-weight: 600;
        @include font-size(2rem);

        @include media-breakpoint-up(md) {
            @include font-size(2.5rem);
        }

        @include media-breakpoint-up(lg) {
            @include font-size(3.5rem);
        }

        @include media-breakpoint-up(xl) {
            @include font-size(4rem);
        }

        @include media-breakpoint-up(xxl) {
            @include font-size(4.5rem);
        }
    }
}