//banner
.banner {
    &-slider {

        &__item {}

        .slick {
            &-arrow {
                font-size: 0;
                line-height: 1;
                border: 0;
                background-color: $white;
                width: 35px;
                height: 35px;
                border-radius: 6px;
                position: absolute;
                bottom: 0;
                z-index: 5;
                color: $white;
                border: 1px solid transparent;
                transition: all 0.3s ease-in-out;

                @include media-breakpoint-down(lg) {
                    margin: 0rem 0.1rem 2.8rem 0.1rem;
                }

                &:focus,
                &:hover {
                    // outline: 0;
                    border-color: $strong-cyan;
                    background-color: $dark-blue;

                }

                &:before {
                    content: ' ';
                    font-family: 'icomoon';
                    @include font-size(1rem);
                    color: $strong-cyan;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s;

                }
            }

            &-prev {
                left: auto;
                right: 50.4%;

                @include media-breakpoint-up(lg) {
                    right: auto;
                    left: 50px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                @include media-breakpoint-up(xl) {
                    left: 100px;
                }



                &:before {
                    content: '\e921';
                }
            }

            &-next {
                right: auto;
                left: 50.4%;

                @include media-breakpoint-up(lg) {
                    right: 50px;
                    left: auto;
                    top: 50%;
                    transform: translateY(-50%);
                }

                @include media-breakpoint-up(xl) {
                    right: 100px;
                }

                &:before {
                    content: '\e911';
                }
            }

            &-track {
                display: flex;
            }

            &-slide {
                height: inherit;
            }

            &-disabled {
                background-color: rgba($white, 0.60);
            }
        }
    }
}


.product-slider {
    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        list-style-type: none;
        padding: 0;

        li {
            margin: 0 0.25rem;
        }

        .slick-active {
            button {
                background-color: $primary;
            }
        }

        button {
            background-color: $gray-400;
            border: 1px solid transparent;
            outline: none;
            box-shadow: none;
            @include font-size(0);
            padding: 0;
            border-radius: 10px;
            width: 10px;
            height: 10px;
            position: relative;
            z-index: 1;
            transition: .3s ease-in-out;
        }
    }


    .slick {
        &-arrow {
            font-size: 0;
            line-height: 1;
            border: 1px solid $gray-400;
            border-radius: 5px;
            background-color: $primary;
            position: absolute;
            z-index: 5;
            transition: all .2s;
            top: 50%;
            transform: translateY(-50%);
            width: 35px;
            height: 35px;

            // @include media-breakpoint-down(sm) {
            //     display: none!important;
            // }

            &:focus {
                outline: 0;
            }

            &:before {
                content: '\e921';
                font-family: 'icomoon';
                @include font-size(0.875rem);
                color: $white;
                transition: all .2s;
            }
        }

        &-prev {
            left: 0;
        }

        &-next {
            right: 0;

            &:before {
                content: '\e911';
            }
        }

        &-disabled {
            background-color: $white;
            border: 1px solid $grayish-red;

            &:before {
                color: $black;
            }
        }
    }
}

.testimonial-slider {
    .slick {
        &-arrow {
            border: 1px solid $grayish-red;
            top: auto;
            transform: none;
            bottom: 71px;
            background-color: transparent;
            color: $white;

            @include media-breakpoint-down(md) {
                bottom: 23px;
                margin: 0 .5rem;
            }

            @include media-breakpoint-down(sm) {
                bottom: 8px;
            }

            &:before {
                content: '\e921';
                font-family: 'icomoon';
                @include font-size(0.875rem);
                transition: all .2s;
            }

            &:hover,
            &:active {
                background: $primary;
            }
        }

        &-prev {
            left: 43px;

            @include media-breakpoint-down(md) {
                left: auto;
                right: 50%;
            }
        }

        &-next {
            right: auto;
            left: 97px;

            @include media-breakpoint-down(md) {
                right: auto;
                left: 50%;
            }

            &:before {
                content: '\e911';
            }
        }

        &-disabled {
            background-color: transparent;
            border: 1px solid $grayish-red;
            opacity: .5;

            &:before {
                color: $white;
            }
        }
    }
}