body {
	min-width: 320px;
	overflow-x: hidden;
	margin: 0 !important;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	// background: url(#{$image-path}/bg-body.jpg) center;

	@include media-breakpoint-up(xxl) {
		@include font-size(1.125rem);
		line-height: 1.7;
	}
}

a {
	&:focus {
		outline: none;
	}
}

.btn:focus,
.form-control:focus {
	box-shadow: none;
}

.svg,
.svg.img-fluid {
	width: 100%;
	max-width: 100%;
	background-size: cover;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
}

html,
body {
	width: 100%;
	height: 100%;
}

.site {
	&-wrapper {
		min-width: 320px;
		overflow: hidden;
		margin: 0 auto;
		@extend .d-flex;
		min-height: 100%;
		position: relative;
		align-items: stretch;
		flex-direction: column;
	}

	&-content {
		flex-grow: 1;
	}

	&-header,
	&-content,
	&-footer {
		flex-shrink: 0;
	}
}

picture {
	display: block;
}

iframe {
	width: 100%;
	height: 100%;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;

	[class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}

.gutter-sm {
	margin-right: -5px;
	margin-left: -5px;

	[class*="col-"] {
		padding-right: 5px;
		padding-left: 5px;
	}
}

.gutter-md {
	margin-right: -17px;
	margin-left: -17px;

	[class*="col-"] {
		padding-right: 17px;
		padding-left: 17px;
	}
}

.gutter-lg {
	margin-right: -30px;
	margin-left: -30px;

	[class*="col-"] {
		padding-right: 30px;
		padding-left: 30px;
	}
}


.w-100 {
	@include media-breakpoint-down(md) {
		width: 100%;
	}
}

.overlay-bg {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($dark-blue, 0.75);
        z-index: -1;
    }
}

.overlay-dark {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($dark-blue, 0.90);
        z-index: -1;
    }
}


// .blue-overlay, 
.cyan-overlay {
	position: relative;

	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

// .blue-overlay {
// 	&::before {
// 		background-color: rgba($dark-blue-5, 0.9);
// 	}
// }

.cyan-overlay {
	&::before {
		background: rgba($strong-cyan, 0.9);
	}
}


.blue-gradient {
	position: relative;
	z-index: 1;
	
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		background: -moz-linear-gradient(left,  rgba(0,44,93,0.95) 0%, rgba(0,44,93,0.95) 1%, rgba(2,28,58,0.95) 100%);
		background: -webkit-linear-gradient(left,  rgba(0,44,93,0.95) 0%,rgba(0,44,93,0.95) 1%,rgba(2,28,58,0.95) 100%);
		background: linear-gradient(to right,  rgba(0,44,93,0.95) 0%,rgba(0,44,93,0.95) 1%,rgba(2,28,58,0.95) 100%);
	}
}