.faq {
    .container {

        @include media-breakpoint-up(lg) {
            max-width: 848px;
        }
    }
}

.success-stories {
    .container {
        @include media-breakpoint-up(lg) {
            max-width: 1202px;
        }
    }
}

.sec-newsletter {

    form {
        max-width: 36.5rem;
        margin: 0 auto;

        .form-group {
            position: relative;
        }

        // .form-control {
        //     padding-right: 8rem;
        // }

        .btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: .3rem;
        }
    }
}