//site-header
.site-header {
    position: fixed;
    left: 0;
    right: 0;
    transition: all 0.3s;
    z-index: 999;

    &.sticky {
        background-color: rgba($dark-blue, 1);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .navbar-brand {
            img {
                transition: all 0.3s;
                max-width: 45px;

                @include media-breakpoint-up(md) {
                    max-width: 65px;
                }

                @include media-breakpoint-up(lg) {
                    max-width: 90px;
                }
            }
        }
    }

    .navbar {
        &-brand {
            img {
                max-width: 65px;

                @include media-breakpoint-up(md) {
                    max-width: 85px;
                }

                @include media-breakpoint-up(lg) {
                    max-width: 154px;
                }
            }
        }

        &-nav {
            @include media-breakpoint-up(lg) {
                margin-left: 1rem;
            }

            @include media-breakpoint-up(xl) {
                margin-left: 2.5rem;
            }

            .nav-item {
                @include media-breakpoint-down(md) {
                    // background-color: $black;
                    text-align: center;
                    border-bottom: 1px solid $white;
                }

                @include media-breakpoint-up(lg) {
                    padding-right: 0.5rem;
                }

                @include media-breakpoint-up(xl) {
                    padding-right: 1.3rem;
                    margin-right: 1.5rem;
                }

                &.dropdown {

                    @include media-breakpoint-up(lg) {
                        transition: all 0.3s;
                    }

                    .dropdown-toggle {
                        &::after {
                            display: none;
                        }
                    }

                    .dropdown-menu {
                        margin-top: 0;
                        border-radius: 0;
                        padding: 0;

                        .dropdown-item {
                            text-transform: capitalize;

                            &:hover,
                            &:focus {
                                background-color: $strong-cyan;
                            }
                        }
                    }

                    @include media-breakpoint-up(lg) {

                        &:focus,
                        &:hover {
                            .dropdown-menu {
                                display: block
                            }
                        }
                    }
                }
            }

            .nav-link {
                @include font-size(1rem);
                font-weight: 600;
                text-transform: capitalize;
                line-height: 19px;
                color: $white;
                transition: all 0.3s;

                &:hover,
                &:focus {
                    color: $strong-cyan;
                }
            }
        }

        .btn-wrap {
            button {
                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }

        &-toggler {
            padding: 0.25rem 0rem;
            border: none;

            span {
                display: block;
                width: 25px;
                height: 2px;
                background-color: $white;
                transition: all 0.2s ease-in-out;

                @include media-breakpoint-up(md) {
                    width: 30px;
                    height: 3px;
                }

                &:nth-child(2) {
                    margin: 6px 0;
                    opacity: 1;
                    visibility: visible;
                }

                &:first-child {
                    transform: none;
                }

                &:last-child {
                    transform: none;
                }
            }

            &:not(.collapsed) {
                span {

                    &:first-child {
                        transform: translate(3px, 3px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        margin: 0;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:last-child {
                        transform: translate(3px, -1px) rotate(-45deg);

                        @include media-breakpoint-up(md) {
                            transform: translate(2px, -3px) rotate(-45deg);

                        }
                    }
                }


            }
        }

        &-collapse {

            @include media-breakpoint-down(md) {
                position: fixed;
                left: -300px;
                width: 300px;
                top: 0;
                bottom: 0;
                transition: all .2s;
                z-index: 100;
                background-color: $dark-blue;
                padding: 3rem 1rem;
                box-shadow: 0px 0px 15px rgba($black, 0.19);

                @include media-breakpoint-down(sm) {
                    width: 230px;
                }
            }

            &.show {
                left: 0;

            }
        }
    }
}

.caret {
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
    height: 20px;
    // background-color: $red;
    color: $white;
    @include font-size(0.7rem);

    @include media-breakpoint-up(lg) {
        pointer-events: none;
    }
}