.faq {
    .container {

        @include media-breakpoint-up(lg) {
            max-width: 848px;
        }
    }
}

.success-stories {
    .container {
        @include media-breakpoint-up(lg) {
            max-width: 1202px;
        }
    }
}

.sec-newsletter {

    form {
        max-width: 36.5rem;
        margin: 0 auto;

        .form-group {
            position: relative;
        }

        // .form-control {
        //     padding-right: 8rem;
        // }

        .btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            margin: .3rem;
        }
    }
}

//tab-block
.tab {
    &-block {
        .border-col {
            @include media-breakpoint-up(lg) {
                border-left: 1px solid rgba($white, 0.20);
            }
        }

        &__info {
            color: $white;
            @include font-size(1rem);

            @include media-breakpoint-up(lg) {
                @include font-size(1.125rem);
                line-height: 32px;
                max-width: 35.3125rem;
            }
        }
    }

    .nav {
        counter-reset: count;

        h4 {
            @include font-size(1rem);
            color:$white;
            font-weight: 400;
            margin-bottom: 1rem;
            display:inline-block;
        }

        &-link {
            background-color: transparent;
            border: 1px solid rgba($white, 0.20);
            color: $white;
            @include font-size(0.9rem);
            margin-bottom: 0.8rem;
            position: relative;
            transition: all 0.3s;
            padding: 0.5rem 4rem 0.5rem 1rem;


            @include media-breakpoint-up(lg) {
                @include font-size(1.125rem);
                margin-bottom: 1.2rem;
                line-height: 32px;
            }

            @include media-breakpoint-up(xl) {
                @include font-size(1.5rem);
            }

            &.active {
                background-color: transparent;
                border: 1px solid rgba($white, 0.40);


                i {
                    background-color: $white;
                    color: $dark-blue;
                }
            }

            &:hover {
                i {
                    background-color: $white;
                    color: $dark-blue;
                }
            }

            span {
                display: block;

                &::before {
                    content: counter(count, decimal-leading-zero) ".";
                    counter-increment: count;
                }
            }

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 12px;
                @include font-size(1rem);
                line-height: 1;
                width: 34px;
                height: 32px;
                background-color: rgba($white, 0.20);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 6px;
                transition: all 0.3s;
            }
        }
    }

}